{% extends 'blog/_layout/base.html' %}
{% load blog_filters %}
{% block menu_subcategories %}
    {% for subcategory in ""|get_subcategories:8 %}
        <a href="{% url 'blog:article_list_category_subcategory'  subcategory.category_id subcategory.id  %}" class="list-group-item">{{ subcategory.name}}</a>
    {% endfor %}
{% endblock %}

{% block title %}
    Password reset
{% endblock %}

{% block content %}
    <h1>Password actualizado.</h1>
    <p>Tu password ha sido actualizado. Puedes <a href="{% url "login" %}">para logearte ahora</a></p>
{% endblock %}