{% extends 'blog/_layout/base.html' %}
{% load blog_filters %}
{% block menu_subcategories %}
    {% for subcategory in ""|get_subcategories:8 %}
        <a href="{% url 'blog:article_list_category_subcategory'  subcategory.category_id subcategory.id  %}" class="list-group-item">{{ subcategory.name}}</a>
    {% endfor %}
{% endblock %}

{% block content %}
Alguien solicito resetear password para email {{ email }}.
sigue el siguiente link:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
Tu usuario, en caso que lo hayas olvidado: {{ user.get_username }}
{% endblock %}
