{% extends 'blog/_layout/base.html' %}
{% load blog_filters %}
{% block menu_subcategories %}
    {% for subcategory in ""|get_subcategories:8 %}
        <a href="{% url 'blog:article_list_category_subcategory'  subcategory.category_id subcategory.id  %}" class="list-group-item">{{ subcategory.name}}</a>
    {% endfor %}
{% endblock %}

{% block title %}
    Cambia tu password
{% endblock %}

{% block content %}
    <h1>Cambia tu password</h1>
    <p>Usa la forma de abajo para cambiar tu password.</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Change"></p>
        {% csrf_token %}
    </form>
{% endblock %}