{% extends 'blog/_layout/base.html' %}
{% load blog_filters %}
{% block menu_subcategories %}
    {% for subcategory in ""|get_subcategories:8 %}
        <a href="{% url 'blog:article_list_category_subcategory'  subcategory.category_id subcategory.id  %}" class="list-group-item">{{ subcategory.name}}</a>
    {% endfor %}
{% endblock %}

{% block title %}
    Reset tu password
{% endblock %}

{% block content %}
    <h1>Reset tu password</h1>
    <p>Te enviamos por email las instrucciones para resetear tu password.</p>
    <p>si no recibes un email, asegurate que introduciste la dirección de email con
    la que te registraste.</p>
{% endblock %}