{% extends 'blog/_layout/base.html' %}
{% load blog_filters %}
{% block menu_subcategories %}
    {% for subcategory in ""|get_subcategories:8 %}
        <a href="{% url 'blog:article_list_category_subcategory'  subcategory.category_id subcategory.id  %}" class="list-group-item">{{ subcategory.name}}</a>
    {% endfor %}
{% endblock %}

{% block title %}
    Reset your pasword
{% endblock %}

{% block content %}
    <h1>Resetea tu contraseña</h1>
    {% if validlink %}
        <p>introduce tu nueva contraseña dos veces:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change password"></p>
        </form>
    {% else %}
        <p>El link para resetear el pasword es invalido, posiblemente porque ya ha sido utilizado. Solicta un nuevo cambio de password.</p>
    {% endif %}
{% endblock %}