{% extends 'blog/_layout/base.html' %}
{% load blog_filters %}
{% block menu_subcategories %}
    {% for subcategory in ""|get_subcategories:8 %}
        <a href="{% url 'blog:article_list_category_subcategory'  subcategory.category_id subcategory.id  %}" class="list-group-item">{{ subcategory.name}}</a>
    {% endfor %}
{% endblock %}

{% block title %}
    Password changed
{% endblock %}

{% block content %}
    <h1>Password modificado</h1>
    <p>Tu contraseña ha sido actualizado exitosamente</p>
{% endblock %}